.progress-bar-container {
    width: 80%; 
    margin: 20px;
    background-color: #ddd;
    overflow: hidden;
}

.progress-bar {
    width: 50%; 
    height: 20px;
    background-color: #4CAF50; 
    transition: width 0.3s ease; 
}


.gun-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 10px 10px; 
    padding: 0%;
    
}

.gun-card img {
    max-width: 80%; 
    max-height: 150px; 
    border-radius: 5px;
    margin-bottom: 10px;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100%;
}

.welcome-container {
    text-align: center;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

span {
    color: #4CAF50;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-guns, .gun-reviews, .user-comments {
    margin: 20px;

}

h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.review, .comment {
    border: none;
    border-radius: none;
    margin: 10px;
    padding: 10px;
    
 
}

.review h3, .comment p {
    font-size: 16px;
    margin: 5px 0;
 
}
.side-buttons-container {
    position: fixed;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.side-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
